*{
    margin:0;
    padding: 0;
    
}
body{
    background-color: #FFE8D6;
    text-align: center;
}
.container{
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border-width: 0px;
    box-shadow: 0 0 1rem #a6d313;
    font-size:8vmin;
    color: #000000;
    background-color:#f8f8f8
}


.reset-button{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #cc990b;
    color: #0a0a0a;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #cc990b;
    color: #0a0a0a;
    border-radius: 1rem;
    border: none;
}

#msg{
    
    color: #ac2727;
    font-size:5vmin;
}

.hide{
    display: none;
}